option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    "/api/*": "http://localhost:8080"
  aws:elasticbeanstalk:environment:proxy:headers:
    Access-Control-Allow-Origin: "'*'"
    Access-Control-Allow-Methods: "'GET, POST, OPTIONS'"
    Access-Control-Allow-Headers: "'Content-Type'"
